*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    color: black;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 900;
    src: url("../technomart/fonts/PTSans-Bold.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: auto;
    font-weight: 400;
    src: url("../technomart/fonts/PTSans-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans", "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../technomart/fonts/PTSans-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 900;
    src: url("../technomart/fonts/FiraSans-Bold.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans", sans-serif;
    font-style: auto;
    font-weight: 400;
    src: url("../technomart/fonts/FiraSans-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans", "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../technomart/fonts/FiraSans-Medium.ttf") format("ttf");
    font-display: swap;
}

body {
    font-family: "PTSans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background: #ffffff;
    min-width: 1170px;
    padding: 0 15px;
}

.online-shop-description-title {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #EE3643;
}

.online-shop-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #32425C;
}

.img-phone {
    background-image: url("../technomart/images/phone.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.phone-number {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.logo {
    background-color: #EE3643;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    width: 220px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.search {
    background-image: url("../technomart/images/search.svg");
    width: 20px;
    height: 20px;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.personal {
    background-image: url("../technomart/images/Union.png");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.first-menu {
    background: #293449;
}

.menu-item {
    list-style-type: none;
}

.menu-item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;

    text-decoration: none;
}

.header-menu {
    background-color: #3D546F;
}

.favorite {
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
}

.button {
    background-color: #63A63E;
    width: 170px;
    height: 42px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 12px;
}

.navigation-card-yellow {
    background-color: #FFBF47;
    width: 370px;
    height: 180px;

}

.navigation-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navigation-button {

    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    padding: 12px 19px 10px 33px;
    text-decoration: none;
    color: #FFFFFF;
}

.navigation-button:before {
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    background: url(../technomart/images/stroke.svg) center center no-repeat;
    width: 8px;
    height: 13px;
}

.navigation-card-blue {
    background-color: #3BBCE3;
    width: 370px;
    height: 180px;
}

.navigation-card-violet {
    background-color: #DC91D8;
    width: 370px;
    height: 180px;
}

.navigation-card-green {
    background-color: #8ED78F;
    width: 370px;
    height: 180px;
}

.navigation-card-orange {
    background-color: #FFBF47;
    width: 370px;
    height: 180px;
}

.navigation-banner-cards {
    background-image: url("../technomart/images/own-banner.png");
    width: 770px;
    height: 390px;
}

.navigation-banner {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.navigation-banner-description {
font-family: "PT Sans", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 24px;
text-transform: none;
}

.navigation-button {
    background-color: #EE3643;
    border: none;
    padding: 13px 24px;
}